body {
    font-family: serif;
    text-align: center;
    width: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 84%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

input[type="submit"] {
    width: 30%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #6495ed;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

#logout-button,
#free-query-balance,
#query-to-premium,
#premium-to-query {
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    border: none;
}

#free-query-balance {
    background-color: #b4cbff;
}

#query-to-premium {
    background-color: #e7d385;
}

#logout-button {
    background-color: #f9d6d6;
}

#logout-button:hover,
#query-to-premium:hover,
#premium-to-query:hover,
input[type="submit"]:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#response-container {
    background-color: #f2f2f2;
    padding: 5px 10px;
    text-align: justify;
    border-radius: 5px;
    margin: 0px 0px 15px 0px;
}

.quickmind-text {
    font-size: 0.8rem;
    font-family: system-ui;
    line-height: 1.2rem;
}

#auth-section h3 {
    font-size: 1.8em;
    color: #6495ed;
}

#query-section h3 {
    font-size: 1rem;
    margin: 0px 0px 10px 0px;
    color: #6495ed;
    line-height: 24px;
}

#signup-to-login,
#login-to-signup,
#verify-to-login,
#verify-instruction {
    font-size: 1.1em;
}

textarea {
    max-width: 17rem;
    min-width: 17rem;
    max-height: 28rem;
    min-height: 3rem;
    width: 17rem;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

img {
    width: 5rem;
}

#submit-query,
#signup-action,
#login-action {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#error-signup,
#error-login,
#error-query {
    color: #662a2a;
    font-size: 14px;
}

/** Footer CSS start */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-item {
    flex: 2;
    margin: 0px 5px;
}

.small-item {
    flex: 1;
    margin: 0px 5px;
}

/** Footer CSS end*/


/** Notification CSS start */
#push-notification {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/** Notification CSS end */